{% extends './base.html' %}
{% block content %}
<section class="section">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Thêm Người Dùng</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <form class="col" method="post" enctype="multipart/form-data" action="{% url 'update_user_page' pk=obj.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="helpInputTop">Email</label>
                        <input type="text" class="form-control" value="{{obj.email}}" name="email" id="helpInputTop"></input>
                    </div>
                    <div class="form-group" >
                        <label for="helpInputTop">Tên khách hàng</label>
                        <input type="text" class="form-control" value="{{obj.user_name}}" name="user_name" id="helpInputTop"></input>
                    </div>
                    <div class="form-group" >
                        <label for="helpInputTop">Số Điện Thoại</label>
                        <input type="text" class="form-control"  value="{{obj.user_phone}}" name="user_phone" id="helpInputTop"></input>
                    </div>
                    <div class="form-group" >
                        <label for="helpInputTop">Địa Chỉ</label>
                        <input type="text" class="form-control"  value="{{obj.user_address}}" name="user_address" id="helpInputTop"></input>
                    </div>
                    <div class="form-group" >
                        <label for="helpInputTop">Ngày Sinh</label>
                        <input type="date" class="form-control" value="{{obj.user_birthday|date:'Y-m-d'}}" name="user_birthday" id="helpInputTop"></input>
                    </div>
                    <div class="form-group">
                        <label for="list_image">Ảnh đại diện</label>
                        <input type="file" accept="image/*" class="form-control" id="list_image" name="user_avatar" >
                    </div>
                    <div class="form-group" >
                        <label for="helpInputTop">Password</label>
                        <input type="Password" class="form-control" name="password" id="helpInputTop"></input>
                    </div>
                    <div>
                        <button class="btn btn-primary" >Lưu</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</section>
{% endblock %}
