{% extends './base.html' %}
{% block content %}
<div class="page-heading position-relative">
  <div class="page-title mb-2">
      <div class="row">
          <div class="order-md-1 order-last">
              <a href="/add-user-page/" class="rounded bg-primary d-flex align-items-center justify-content-center fs-5 p-2 " style="width:220px">
                <svg width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path fill="white" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                <span class="ms-1 text-light">Thêm Tài Khoản</span>
              </a>
          </div>
      </div>
  </div>
  <!-- Hoverable rows start -->
  <section class="section">
      <div class="row" id="table-hover-row">
          <div class="col-12">
              <div class="card">
                  <div class="card-content">
                      
                      <!-- table hover -->
                      <div class="table-responsive">
                          <table class="table table-hover mb-0">
                              <thead>
                                  <tr>
                                      <th>Tên Khách hàng</th>
                                      <th>Email</th>
                                      <th>Ảnh Đại Diện</th>
                                      <th>Tên người dùng</th>
                                      <th>Số Điện Thoại</th>
                                      <th>Địa Chỉ</th>
                                      <th>Ngày Sinh</th>
                                      <th>Role</th>

                                  </tr>
                              </thead>
                              <tbody>
                                {% for i in list_user %}
                                  <tr>
                                      <td>{{i.user_name}}</td>
                                      <td>{{i.email}}</td>
                                      <td>
                                        <img width="100px" src="/upload/{{i.user_avatar}}" />
                                      </td>
                                      <td>{{i.username}}</td>
                                      <td>0{{i.user_phone}}</td>
                                      <td>{{i.user_address}}</td>
                                      <td>{{i.user_birthday}}</td>
                                      <td>{{i.role}}</td>
                                      <td>
                                        <a class="ms-2" href="{% url 'delete_user_page' pk=i.id %}">
                                          <svg width="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                            <path fill="red" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                                        </a>
                                        <a href="{% url 'update_user_page' pk=i.id %}" class="add_data ms-2"
                                        >
                                          <svg width="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path fill="blue" d="M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z"/></svg>
                                        </a>
                                      </td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Hoverable rows end -->
  {% comment %} <div id="form_update" style="display:none;" class="position-absolute top-0 start-0 bottom-0 end-0 d-flex justify-content-center align-items-center bg-dark bg-opacity-75">
    <form id="form_update_f" class="card-body bg-light p-4" enctype="multipart/form-data" method="POST" action="{% url 'update_clock_page' %}" style="width: 600px;">
      {% csrf_token %}
      <div class="form-group">
          <label for="basicInput">Tên Đồng Hồ</label>
          <input type="text" class="form-control" id="basicInput" name="clock_name" placeholder="Nhập tên đồng hồ">
      </div>

      <div class="form-group">
          <label for="helpInputTop">Mô Tả</label>
          <textarea type="text" class="form-control" name="describe" id="helpInputTop"></textarea>
      </div>

      <div class="form-group">
          <label for="helperText">Danh Mục</label>
          <select class="form-select" name="categories" aria-label="Default select example">
              <option selected>Chọn Danh Mục</option>
              {% for i in list_category %}
              <option value="{{i.categories_id}}">{{i.categories_name}}</option>
              {% endfor %}
          </select>
      </div>
      
      <div class="form-group">
          <label for="helperText">Nhãn Hiệu</label>
          <select class="form-select" name="trademark" aria-label="Default select example">
              <option selected>Chọn Nhãn Hiệu</option>
              {% for i in list_trademark %}    
              <option value="{{i.trademark_id}}">{{i.trademark_name}}</option>
              {% endfor %}
          </select>
      </div>

      <div class="form-group">
          <label for="helperText">Khoảng giá</label>
          <select class="form-select" name="price_limit" aria-label="Default select example">
              <option selected>Chọn Khoảng giá</option>
              {% for i in list_price_limit %}
              <option value="{{i.price_id}}">{{i.price_limit_name}}</option>
              {% endfor %}
          </select>
      </div>

      <div class="form-group">
          <label for="helperText">Loại Máy</label>
          <select class="form-select" name="machine_type" aria-label="Default select example">
              <option selected>Chọn Loại Máy</option>
          {% for i in list_machine_type %}   
              <option value="{{i.machine_type_id}}">{{i.machine_type_name}}</option>
          {% endfor %}
          </select>
      </div>
      <div class="form-group">
          <label for="helperText">Vật liệu dây</label>
          <select class="form-select" name="wire_material" aria-label="Default select example">
              <option selected>Chọn Vật liệu dây</option>
              {% for i in list_wire_material %}
              <option value="{{i.wire_material_id}}">{{i.wire_material_name}}</option>
              {% endfor %}
          </select>
      </div>

      <div class="form-group">
          <label for="helperText">Giá</label>
          <input type="text" id="helperText" name="price" class="form-control" placeholder="Nhập Giá">
      </div>
      <div class="form-group">
          <label for="helperText">Số lượng</label>
          <input type="text" id="helperText" name="quantity" class="form-control" placeholder="Số lượng">
      </div>
      <div class="form-group">
          <label for="helperText">Giới Tính</label>
          <select class="form-select" name="sex" aria-label="Default select example">
              <option selected>Chọn Giới Tính</option>
              <option value="Nam">Nam</option>
              <option value="Nữ">Nữ</option>
              <option value="Nam và Nữ">Nam và Nữ</option>
          </select>
      </div>
      <div class="form-group">
          <label for="helperText">Thiết Kế</label>
          <input type="text" id="helperText" name="designs" class="form-control" placeholder="Nhập Thiết Kế">
      </div>
      <div class="form-group">
          <label for="helperText">Mặt kính</label>
          <input type="text" id="helperText" name="glass_surface" class="form-control" placeholder="Nhập Mặt kính">
      </div>
      <div class="form-group">
          <label for="helperText">Đường kính</label>
          <input type="text" id="helperText" name="diameter" class="form-control" placeholder="Nhập Đường kính">
      </div>
      <div class="form-group">
          <label for="helperText">Màu mặt</label>
          <input type="text" id="helperText" name="face_color" class="form-control" placeholder="Nhập Màu mặt">
      </div>
      <div class="form-group">
          <label for="helperText">Chất liệu vỏ</label>
          <input type="text" id="helperText" name="shell_material" class="form-control" placeholder="Nhập Chất liệu vỏ">
      </div>
      <div class="form-group">
          <label for="helperText">Độ chịu nước</label>
          <input type="text" id="helperText" name="water_resistance" class="form-control" placeholder="Nhập">
      </div>
      <div class="form-group">
          <label for="helperText">Tính năng khác</label>
          <input type="text" id="helperText" name="other_function" class="form-control" placeholder="Nhập Tính năng khác">
      </div>
      <div class="form-group">
          <label for="helperText">Xuất sứ thương hiệu</label>
          <input type="text" id="helperText" name="brand_origin" class="form-control" placeholder="Nhập Xuất sứ thương hiệu">
      </div>
      <div class="form-group">
          <label for="helperText">Bảo hành chính hãng</label>
          <input type="text" id="helperText" name="warranty_genuine" class="form-control" placeholder="Nhập Bảo hành chính hãng">
      </div>
      <div class="form-group">
          <label for="helperText">Phần trăm giảm giá</label>
          <input type="text" id="helperText" name="percent_discount" class="form-control" placeholder="Nhập Phần trăm giảm giá">
      </div>
      <div class="form-group">
          <label for="helperText">Đường dẫn</label>
          <input type="text" id="helperText" name="url" class="form-control" placeholder="Nhập Đường dẫn">
      </div>
      <div class="form-group">
          <label for="list_image">Ảnh sản phẩm</label>
          <input type="file" multiple accept="image/*" class="form-control" id="list_image" name="list_image" >
      </div>
      <div class="form-group">
          <label for="list_video">Video sản phẩm</label>
          <input type="file" multiple accept="video/*" class="form-control" id="list_video" name="list_video" >
      </div>
      <div>
          <button class="btn btn-primary" >Lưu</button>
      </div>
    </form>
</div> {% endcomment %}
</div>
{% endblock %}
